<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="Student" class="com.springcore.Student">
		<property name="id">
			<value>1608</value>
		</property>

		<property name="name">
			<value>Srivathsa</value>
		</property>

		<property name="address">
			<value>Mysore</value>
		</property>

	</bean>


</beans>